.css-66dh3a-MuiInputBase-input-MuiInput-input.Mui-disabled {
  -webkit-text-fill-color: #fff !important;
}

.css-1irf9e3-MuiInputBase-root-MuiInput-root {
  color: #fff !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
  color: #fff !important;
}

.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root {
  color: #fff !important;
  /* border: 1px solid #fff !important; */
}

.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #6844d2 !important;
}
